<body>
   

<div class="ticket-system">
   <h1 class="title">Riepilogo prenotazione</h1>

   <div class="top">
     <div class="printer"></div>

     <div class="receipts-wrapper">
       <div class="receipts">
         <div class="receipt">
           <h1>{{bookingRequest?.roomName}}</h1>
           <div class="details">
             <div class="item">
               <span>Check-in</span>
               <h3>{{ bookingRequest?.checkInDate | date}}</h3>
               <span>Check-out</span>
               <h3>{{ bookingRequest?.checkOutDate | date }}</h3>
               <span>Ospiti</span>
               <h3>{{bookingRequest?.maxGuestRoom}}</h3>
             </div>
             <div class="item">
               <span>Prenotazione ID:</span>
               <h3>{{bookingRequest?.bookingId}}</h3>
             </div>
             <div class="item">
               <img [src]="bookingRequest?.roomCover" alt="Room Cover Image" class="room-image" style="max-width: 70%; border-radius: 12px;"/>
             </div>
             <div class="item">
               <p>Per informazioni aggiuntive contattare l'<a href="#">assistenza</a>.</p>
             </div>
           </div>
           <div class="receipt qr-code">
             <div class="description">
               <p>Totale (EUR) </p>
               <h2>{{bookingRequest?.totalPrice}}€</h2>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
</body>