.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-card, .right-card, .reviews-container{
  width: calc(100% - 20px); 
  margin: 10px;
  background-color: white; 
  border-radius: 8px; 
}

@media screen and (min-width: 600px) {
  .left-card, .right-card {
    width: calc(50% - 20px); 
  }
}

.card-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.image-container {
  text-align: center;
  margin-bottom: 10px;
}

.room-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.container-vertical-layout {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.room-info h4 {
  margin-top: 0;
}

.button-container {
  text-align: center;
}


