<div *ngIf="roomDto" class="card-container">
  <!-- Card a sinistra -->
  <mat-card class="left-card">
    <mat-card-content>
      <h2>{{ roomDto.roomName }}</h2>
      <div class="image-container">
        <img [src]="roomDto.roomCover" alt="Room Cover Image" class="room-image" />
      </div>
      <p><strong>Descrizione: </strong>{{ roomDto.description }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Card a destra -->
  <mat-card class="right-card">
    <mat-card-content>
      <h3 class="text-center">Informazioni:</h3>
      <h4>Ospiti: {{ roomDto.roomType }}</h4>
      <p>Prezzo per notte: {{ roomDto.pricePerNight }}</p>
      <p>{{ roomDto.description }}</p>
    </mat-card-content>
    <app-calendar [roomId]="roomDto.roomId"></app-calendar>
  </mat-card>
</div>
