<div class="container">
  <mat-card class="search-card">
    <app-search-bar></app-search-bar>
  </mat-card>

  <mat-card class="home-card">
    <mat-card-content class="cover-image">
      <img
        src="https://img.freepik.com/premium-vector/people-blanket-cartoon-characters-sleeping-their-bed-different-poses-young-adult-old-persons-lying-dreaming-resting-vector-isolated-set_102902-6307.jpg"
        style="max-width: 70%"
        alt=""
      />
    </mat-card-content>
    <mat-card-content>
      <app-faq></app-faq>
    </mat-card-content>
  </mat-card>
  <mat-card class="home-card">
    <div class="button-container">
      <button mat-flat-button color="accent" routerLink="/camere/1">
        Mansarda
      </button>
      <button mat-flat-button color="accent" routerLink="/camere/3">
        Camera Standard
      </button>
      <button mat-flat-button color="accent" routerLink="/camere/2">
        Camera Standard
      </button>
      <button mat-flat-button color="accent" routerLink="/camere/4">
        Camera Standard
      </button>
    </div>
  </mat-card>
</div>
