.container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .home-card,
 .faq-accordion {
   width: 80%;
   max-width: 800px;
   margin-bottom: 20px;
 }
 
 @media screen and (max-width: 600px) {
   .home-card,
   .faq-accordion {
     width: 100%;
   }
 }
 