<div>
  <div class="mat-grid-list">
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let room of availableRooms">
        <mat-card
          class="room-card"
          (click)="navigateToRoomDetails(room.roomId)"
        >
          <mat-card-header>
            <mat-card-title
              ><h1>{{ room.roomName }}</h1></mat-card-title
            >
            <mat-card-subtitle>Ospiti: {{ room.maxGuest }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Prezzo per notte: {{ room.pricePerNight }}€</p>
            <p>Prezzo totale: {{ bookingRequest.totalPrice }}€</p>
            <div class="image-container">
              <img
                [src]="room.roomCover"
                alt="Room Cover Image"
                class="room-image"
                style="max-width: 50%"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
