.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.card {
  width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-header {
  background-color: #ffffff;
  color: #333;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.card-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.card-body {
  padding: 20px;
  padding-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-input-element {
  padding: 12px;
}

.card-footer {
  text-align: center;
  padding: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container button:first-child {
  margin-right: 8px;
}

.button-container button:last-child {
  margin-left: 8px;
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
