@media screen and (max-width: 600px) {
  .navigation-links {
    display: none; /* Nascondi i link di navigazione */
  }

  .user-menu {
    display: none; /* Nascondi il menu dell'utente */
  }

  .menu-icon {
    display: block; /* Mostra l'icona del menu */
  }
}

@media screen and (min-width: 601px) {
  .menu-icon {
    display: none; /* Nascondi l'icona del menu */
  }
}

a {
  font-size: 1.3rem;
}
