<div style="margin-top: 20px;"> 
  <mat-toolbar color="accent" style="max-width: 1200px; margin: auto; display: flex; justify-content: space-between; align-items: center; ">
<!-- Menu di navigazione per le dimensioni ridotte della finestra -->
<mat-menu #navigationMenu>
  <a mat-menu-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Home
  </a>
  <a mat-menu-item routerLink="/camere" routerLinkActive="active">
    Camere
  </a>
</mat-menu>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png" style="max-width: 5%; margin-right: 10px;" alt="">

    <div class="navigation-links">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" style="margin-right: 10px;">HOME</a>
      <a mat-button routerLink="/camere" routerLinkActive="active" style="margin-right: 10px;">CAMERE
      </a>
      <a mat-button *ngIf="checkUser()" (click)="navigateToUserPanel()" routerLink="/" routerLinkActive="active" style="margin-right: 10px;">{{user?.firstname?.toUpperCase()}}  {{user?.lastname?.toUpperCase()}} 
      </a>
    </div>

    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="navigationMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Menu dell'utente -->
    <button mat-icon-button *ngIf="!checkUser(); else userMenu" matTooltip="Login" (click)="openLoginModal()">
      <img src="https://s3-eu-west-1.amazonaws.com/mjmm-cdn-ireland/images/theme/skin/mmm-responsive/new-profile/applicant-placeholder.jpg" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; border-radius: 50%;" alt="User Image">
    </button>

    <ng-template #userMenu>
      <button mat-icon-button [matMenuTriggerFor]="userAccountMenu" matTooltip="Il mio account" style="width: 50px; height: 50px; overflow: hidden; position: relative;"> 
        <img [src]="'/assets/img/' + user?.image" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" alt="User Image">
      </button>

      <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#" *ngIf="checkUser()" (click)="navigateToUserPanel()" routerLink="/" routerLinkActive="">
          <mat-icon>👤</mat-icon>
          <span>{{user?.firstname}} {{user?.lastname}}</span>
        </button>
      
        <button mat-menu-item (click)="logout()">
          <mat-icon style="font-size: 20px;">❌</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-template>

    
  </mat-toolbar>
</div>
